.list-block .item-link.list-button {
    height: 200%;
    padding: 10px;
    font-size: 20px;
}

.login-screen-title {
    padding-top: 50%;
    background: #FFFFFF;
    color:#FF3C00;
    font-weight: 100;
    font-size: 80px;
}

.login-screen-buttons ul li {
    padding-left: 0;
    list-style-type: none;
}

.login-screen-buttons p {
    text-align: center;
}

.buttons-row .button {
    margin-right: 10px;
    left:-2.5%;
    font-weight: 500;
}

.buttons-row .button:first-child {
    margin-left: 30px;
}

.navbar-fixed .messagebar~.page-content, .navbar-fixed .toolbar-bottom~.page-content {
    padding-top: 0px;
}

.big {
    font-size: 35px;
    height: 50px;
    margin-bottom: 5px;
}

.list-block {
    margin: 0 0;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.card-content-inner {
    font-size: 40px;
    font-weight: 600px;
}

.card-footer {

}

.list-block .item-link.list-button .addcard {
    height: 200%;
    padding: -10px;
    font-size:28px;
}

div .minitext {
    font-size:10px;
    color:gray;
}

.navbar-fixed .tabbar-fixed .page-content, .navbar-fixed .toolbar-fixed .page-content, .navbar-fixed.tabbar-fixed .page-content, .navbar-fixed.toolbar-fixed .page-content, .tabbar-fixed .navbar-fixed .page-content, .toolbar-fixed .navbar-fixed .page-content {
    padding-top: 0px;
}

div {
	font-family: 'Avenir' Roboto;
}

.undernav {
    padding-top:57px;
}

.button.button-fill.bg-orange, .button.button-fill.color-orange {
    text-align: center;
    width: 78vw;
    height: 5%;
    margin-top: -7vw;
    position: relative;
}

.statusbar-overlay {
    background: #FF3C00;
}


@media screen and (max-height: 321px){
    /* IPHONE 5 WIDESCREEN */
.login-screen-title {
    background: #FFFFFF;
    color:#FF3C00;
    font-weight: 100;
    font-size: 55px;
    margin-bottom: -26px;
}
.button.button-fill.bg-orange, .button.button-fill.color-orange {
    text-align: center;
    width: 78vw;
    height: 2%;
    margin-top: -8vw;
    right: 3%;
    position: relative;
}
table, tr {
    padding: 10 10 10 10px;
    border-bottom: 1px solid gray;
    width: 80%;
    margin-left: 11%;
}
}

table, tr {
    padding: 10 10 10 10px;
    border-bottom: 1px solid gray;
    width: 80%;
    margin-left: 11%;
}

@media screen and (min-width: 500px){
    /* IF HORIZONTAL IPHONE 6 */
p {
    margin-right: 6%;
}
ul {
    text-align: center;
    margin: 40px;
    margin-top: 10px;
}
div .left {
    margin-right:50px;
}
table, tr {
    padding: 10 10 10 10px;
    border-bottom: 1px solid gray;
    width: 80%;
    margin-left: 11%;
}
}

input:focus::-webkit-input-placeholder  {
    color:transparent;
}

@media screen and (max-width: 500px){
  /* IF VERTICAL IPHONE 6*/
.lockedmargin {
    margin-left: -3%;
}
p {
    margin-right: 12%;
}
.login-screen-title {
    padding-top: 50%;
    padding-bottom: 2vh;
    background: #FFFFFF;
    color:#FF3C00;
    font-weight: 100;
    font-size: 80px;
}
input {
    width:100%;
}
table{
    padding: 10 10 10 10px;
    border-bottom: 1px solid gray;
    width: 80%;
    margin-left: 9.5%;
}
}

@media screen and (max-width: 568px){
.button.button-fill.bg-orange, .button.button-fill.color-orange {
    text-align: center;
    width: 78vw;
    height: 5%;
    margin-top: -8vw;
    position: relative;
    left:-13px;
}
}

@media screen and (max-width: 376px){
.button.button-fill.bg-orange, .button.button-fill.color-orange {
    text-align: center;
    width: 78vw;
    height: 5%;
    margin-top: -2vw;
    position: relative;
    left:3px;
}
}


@media screen and (max-width: 320px){
.button.button-fill.bg-orange, .button.button-fill.color-orange {
    text-align: center;
    width: 78vw;
    height: 5%;
    margin-top: -2vw;
    position: relative;
    left:-3px;
}
}

@media screen and (width: 414px){
.button.button-fill.bg-orange, .button.button-fill.color-orange {
    text-align: center;
    width: 78vw;
    height: 5%;
    left: 5px;
    margin-top: -2vw;
    position: relative;
}
}

@media screen and (min-width: 767px){
.button.button-fill.bg-orange, .button.button-fill.color-orange {
    text-align: center;
    width: 78vw;
    height: 5%;
    left: 0.5%;
    margin-top: -2vw;
    position: relative;
}
}

@media screen and (min-width: 1000px){
.button.button-fill.bg-orange, .button.button-fill.color-orange {
    text-align: center;
    width: 78vw;
    height: 5%;
    left: 3%;
    margin-top: -2vw;
    position: relative;
}
}

.login-screen {
    overflow: hidden;
}

i.icon.icon-back {
    left: -10%;
}

table {
    display:table;
    border-collapse: collapse;
    border-spacing: 10px;
    color:black;
    font-family: 'Avenir' Roboto;
    font-size: 16px;
    width: 80%;
    height: 100%;
}


#mantab input {
    font-family: 'Avenir' Roboto;
    font-size: 16px;
}



.button.button-fill.bg-gray, .button.button-fill.color-gray {
    background:#FF3C00 !important;
}

input {
    border: none;
}

