.list-block .item-link.list-button {
    height: 200%;
    padding: 10px;
    font-size: 20px;
}

.login-screen-title {
    margin-top:-10%;
    background: orange;
    color:white;
    height:48%;
    font-weight: 500;
    font-size: 80px;
}

.buttons-row .button {
    margin-right: 30px;
    left:auto;
}

.buttons-row .button:first-child {
    margin-left: 30px;
}

.navbar-fixed .messagebar~.page-content, .navbar-fixed .toolbar-bottom~.page-content {
    padding-top: 0px;
}

.big {
    font-size: 35px;
    height: 50px;
    margin-bottom: 5px;
}

.list-block {
    margin: 0 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.card-content-inner {
    font-size: 40px;
    font-weight: 600px;
}

.card-footer {

}
