.list-block .item-link.list-button {
    height: 200%;
    padding: 10px;
    font-size: 20px;
}

.login-screen-title {
    margin-top:-10%;
    background: #FF3C00;
    color:white;
    height:48%;
    font-weight: 500;
    font-size: 80px;
}

.buttons-row .button {
    margin-right: 10px;
    left:-2.5%;
    font-weight: 500;
}

.buttons-row .button:first-child {
    margin-left: 30px;
}

.navbar-fixed .messagebar~.page-content, .navbar-fixed .toolbar-bottom~.page-content {
    padding-top: 0px;
}

.big {
    font-size: 35px;
    height: 50px;
    margin-bottom: 5px;
}

.list-block {
    margin: 0 0;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.card-content-inner {
    font-size: 40px;
    font-weight: 600px;
}

.card-footer {

}

.list-block .item-link.list-button .addcard {
    height: 200%;
    padding: -10px;
    font-size:28px;
}

div .minitext {
    font-size:10px;
    color:gray;
}

.navbar-fixed .tabbar-fixed .page-content, .navbar-fixed .toolbar-fixed .page-content, .navbar-fixed.tabbar-fixed .page-content, .navbar-fixed.toolbar-fixed .page-content, .tabbar-fixed .navbar-fixed .page-content, .toolbar-fixed .navbar-fixed .page-content {
    padding-top: 0px;
}

div {
	font-family: 'Avenir' Roboto;
}

.undernav {
    padding-top:57px;
}
